@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full;
}

body {
    @apply flex min-h-full flex-col;
}

/* Navbar */

.navbar-section {
    @apply bg-black text-slate-100;
}

.navbar-container {
    @apply container mx-auto max-w-5xl flex items-center justify-between p-4;
}

.navbar-brand {
    @apply text-2xl md:text-3xl;
}

.navbar-link {
    @apply inline-flex flex-row items-center space-x-2;
}

.navbar-link-text {
    @apply sr-only md:not-sr-only;
}

/* Header */

.header-section {
    @apply bg-popidle-banner-bg text-popidle-banner-text;
}

.header-container {
    @apply container mx-auto max-w-5xl px-4 py-8 space-y-3;
}

.header-title {
    @apply text-3xl font-bold md:text-4xl;
}

.header-subtitle {
    @apply text-lg font-semibold md:text-xl;
}

/* Footer */

.footer-section {
    @apply bg-white text-slate-700 border-t border-slate-700;
}

.footer-container {
    @apply container mx-auto max-w-screen-lg flex flex-col-reverse md:flex-row md:items-center md:justify-between p-6 px-4 space-y-4 md:space-y-0;
}

.footer-flex {
    @apply inline-flex flex-row items-center space-x-4;
}

.previous-answers {

    @apply mt-2;

    & > h2 {
        @apply py-2 font-bold text-lg;
    }

    .previous-answers-list {
        @apply space-y-2;

        & > li {
            @apply flex items-center justify-between p-3 border rounded-lg shadow-sm;
        }
    }
}